<footer class="dark-wrapper inverse-text">
  <div class="sub-footer">
    <div class="container inner text-center"> <img src="#" srcset="<%=asset_path("logo.png")%> 1x, <%=asset_path("logo@2x.png")%> 2x" alt="" />
      <div class="space25"></div>
      <p>© 2020 Furri.cat. All rights reserved.</p>
      <div class="space30"></div>
      <ul class="social social-bg social-s">
        <li><a href="https://www.instagram.com/madre_de_cockers"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.sub-footer --> 
</footer>
