<section id="about" data-aos="fade-in">
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <h2 class="section-title text-center">Les meves aficions</h2>
      <p class="lead2 text-center">Sóc un animal amb moltes inquietuts però aquestes són les coses que més m'agraden</p>
      <div class="space30"></div>
      <div class="row gutter60 text-center">
        <div class="col-md-4"> <span class="icon icon-color color-default fs-48 mb-20"><i class="si-sports_baseball"></i></span>
          <h5>Jugar a pilota</h5>
          <p>Si em llences una pilota la vaig a buscar i te la torno, i així 24/7. No m'ho penso dos cops si cal llençar-me a la piscina.</p>
        </div>
        <div class="col-md-4"> <span class="icon icon-color color-default fs-48 mb-20"><i class="si-pet_pet-food-bowl"></i></span>
          <h5>Menjar</h5>
          <p>Remeno molt la cua quan em diuen soparet. El meu rècord personal és acabar amb un bol de pinso en 17 segons i 32 cèntesimes.</p>
        </div>
        <div class="col-md-4"> <span class="icon icon-color color-default fs-48 mb-20"><i class="si-pet_dog"></i></span>
          <h5>Ensumar culs</h5>
          <p>Quan passejo no escatimo en ensumar culs d'altres gossets, finsitot examino materies fecals. Després et faig besitos.</p>
        </div>
      </div>
    </div>
  </div>
</section>
